*{
  box-sizing: border-box;
}

html { height: 100%; width: 100%; }
body {width: 320px; margin: 0 auto; padding: .8rem; border: 0;  font-size: .9rem; font-family: "Times New Roman";}

img { border: none; }

ul{
  padding: 0;
  list-style-position: inside;
}

#header { height: auto; text-align: left; clear: both;}
#header h2 { padding: .4rem 0; margin: 0;}

.menu{
  list-style: none;
  padding: 0;
  clear: both;
  display: inline-block;
  margin: 0.4rem 0;
  width: 100%;
}
.menu li{
    display: inline-block;
    float: left;
    padding-right: 1rem;
}    

#main {padding: 0  0 1rem 0; width: 100%;}

input, select{
  font-size: .95rem;
  width: 100%;
  padding: 0.4rem 0.5rem;
  border-radius: 2px;
  border: 1px solid #ccc;
  margin: 0.3rem 0 1.1rem 0;
  display: block;
}
textarea{
	width: 100%;
}
input[type=radio], input[type=checkbox]{
  margin: 0 0.2rem 0 0;
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.checkbox-group label{
	border: 1px solid #ccc;
	padding:  .3rem 0 .3rem 0.3rem;
	/*width: 20%;*/
	display: block;
	margin-bottom: .3rem;
}

.radio-group {
  margin-top: 0.3rem;
}
.radio-group label{
	border: 0;
	padding: 0;
	width: 50%;
	margin-bottom: .3rem;
}
.radio-group label input[type=radio]{
  width: auto;
}

button{
	padding: 0.5rem;
	font-size: 0.92rem; 
	color: #000;
	background-color: #fff;
  border-radius: 2px;
  border: 1px solid #ccc;
}

a{
    color: blue;
    text-decoration: none;
}

#main a{
	color: #000;
	text-decoration: none;
}


#main a:hover{
	color: blue;
}

.message, .message-info, .message-warning, .message-success, .message-danger{	
  background-color: #f1f1f1;
  color: #333;
  padding: 0.6rem 1rem;
  border-radius: 3px; 
  font-size: 0.85rem; 
  line-height: 1.5;
}

.message-warning{
  background-color: #ffe57e;
}

.message-success{
  background-color: #e8fdf1;
}  

.message-danger{
  background-color: #ffe8ed;
}
#pagination{
  text-align: center;
}

table td{
  padding: 0;
}