*{
  box-sizing: border-box;
}

html { height: 100%; width: 100%; }
body { height: 100%; width: 100%; margin: 0; padding: 0; border: 0;  font-size: .89rem; font-family: sans-serif;}

img { border: none; }

ul{
  padding: 0;
  list-style-position: inside;
}

p + h2{
  margin-top: -0.7rem;
}

#header { height: auto; text-align: left; clear: both;}
#header h1 { padding: 1rem 1.5rem; margin: 0;}

.menu{
  list-style: none;
  padding: 0 1.5rem;
  clear: both;
  display: inline-block;
  margin-top: 0;
  width: 100%;
}
.menu li{
    display: inline-block;
    float: left;
    padding-right: 1rem;
}    

#main { min-height: 200px;  padding: 1rem 1.5rem; width: 430px;}

#footer {padding: 1.5rem;}

input, select{
  font-size: .95rem;
  width: 100%;
  padding: 0.4rem 0.5rem;
  border-radius: 2px;
  border: 1px solid #ccc;
  margin: 0.3rem 0 0.8rem 0;
  display: block;
}
textarea{
	width: 100%;
}
input[type=radio], input[type=checkbox]{
  margin: 0 0.2rem 0 0;
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.checkbox-group label{
	border: 1px solid #ccc;
	padding:  .3rem 0 .3rem 0.3rem;
	/*width: 20%;*/
	display: block;
	margin-bottom: .3rem;
}

.radio-group {
  margin-top: 0.3rem;
}
.radio-group label{
	border: 0;
	padding: 0;
	width: 50%;
	margin-bottom: .3rem;
}
.radio-group label input[type=radio]{
  width: auto;
}

button{
	padding: 0.5rem;
	font-size: 0.92rem; 
	color: #000;
	background-color: #fff;
  border-radius: 2px;
  border: 1px solid #ccc;
}

a{
    color: blue;
    text-decoration: none;
}

#main a{
	color: #000;
	text-decoration: none;
}


#main a:hover{
	color: blue;
}

#main .message{	
  background-color: #e8ebec;
  color: #333;
  padding: 1.1rem 1rem;
  border-radius: 2px; 
  font-size: 0.95rem; 
}

.message-info{
  background-color: #e8ebec;
  color: #333;
  padding: 1.1rem 1rem;
  border-radius: 2px; 
  font-size: 0.95rem; 
}


.message-warning{
  background-color: #ffe57e;
  color: #333;
  padding: 1.1rem 1rem;
  border-radius: 2px; 
}


.message-success{
  background-color: #ebf8a4;
  color: #333;
  padding: 1.1rem 1rem;
  border-radius: 2px; 
}

.message-danger{
  background-color: pink;
  color: #333;
  padding: 1.1rem 1rem;
  border-radius: 2px; 
}
